.primary-overlay {
  background: rgba(104, 102, 109, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-header {
  background: url(../img/pilates-mat.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  position: relative;
}

.main-header .showcase {
  padding-top: 110px;
}

.scroll-icon {
  position: absolute;
  bottom: 5%;
  left: 47%;
  opacity: 0.5;
}

#about {
  padding-top: 40px;
}

.box {
  padding: 40px 10px !important;
  height: 450px !important;
}

.box h4 {
  padding-bottom: 30px;
}

.section-boxes .row {
  margin-bottom: 0 !important;
}

.section-boxes {
  padding-bottom: 0 !important;
}

.section-location {
  position: relative;
  height: 400px;
}

.section-location .card-panel {
  position: relative;
  z-index: 1;
  /* background-color: transparent; */
}

#googlemap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

@media (max-width: 620px) {
  .main-header {
    height: 50vh;
  }
  .brand-logo {
    font-size: 1.3rem !important;
  }
}
